body{
  background-color:rgb(252, 233, 208);
  align-items: center;
  justify-content: center;
  display:flex;
  height: 100vh;
  overflow: hidden;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


small{
  font-weight:lighter;
}
#container{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
}
.rating-container{
  display:flex;
  margin: 20px 0;

}
.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,  .rating:active, .rating:focus {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ratingactive{
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#send{
  color: white;
  background-color: black;
  padding: 6px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}